#about_wide-banner {
  min-height: 41.25rem;
  padding: 1.875rem 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $grey-lightest;
  text-align: center;
  align-content: center;

  .about-wide-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;

    .title {
      width: 100%;
      max-width: 58.25rem;
      text-align: center;
      margin-bottom: 4.437rem;

      h2 {
        font-size: 3rem;
        line-height: 1.875rem;
        font-weight: bold;
      }
    }

    .description {
      max-width: 58.25rem;
      font-size: 1.125rem;
      line-height: 169%;
      text-align: center;
      color: $black3;
      font-weight: 300;
    }
  }
}
