$black: #000;
$black2: #222;
$white: #fff;
$grey: #333;
$primary: #00b5b4;
$dark-primary: #019796;
$darkest-green: #32758b;
$light-green: #2692b4;
$yellow: #ffba07;
$purple: #071d6f;
$grey-lightest: #f7fafc;
$grey2: #cbd5e0;
$grey3: #828282;
$grey7: #f7f7f7;
$black3: #4f4f4f;
$grey8: #edf2f7;
$darkest-grey: #718096;
$shade-white: #e0e0e0;
$grey4: #a0aec0;
